.header__logo {
  width: 100px;
  height: 50px;
  object-fit: contain;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 18px;
}
.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.white-input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  display: flex;
  background-color: #fff;
  flex: 1;
}
.header__search {
  display: flex;
  align-items: center;
  flex: 1;
}
.header__searchIcon {
  height: 22px !important;
  padding: 5px;
  background-color: #cd9042;
}
.header__nav {
  display: flex;
}
.header__optionBasket {
  display: flex;
  align-items: center;
}
.header_LineCount {
  margin: 0 5px;
  color: white;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header_Link {
  text-decoration: none !important;
  color: #fff !important;
}
.header_optionlineone {
  font-size: 10px;
}
.header_optionlinetwo {
  text-decoration: none;
  font-size: 13px;
  font-weight: 800;
}
